html {
  background: #fafafa;
  min-height: 100vh;
}

.joke-block {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 2rem;
}

h1 {
  display: inline;
  font-size: 150px;
  font-weight: 900;
  font-family: "Futura";
  color: #353535;
  line-height: 0.8em;
  word-spacing: -0.2ch;
}

em {
  color: #00b2f5;
  font-style: normal;
}

.joke-card {
  border-radius: 20px;
  background: #fafafa;
  box-shadow: 5px 5px 10px #e1e1e1, -5px -5px 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  min-width: 5rem;
  margin: 5rem;
  padding: 1rem 3rem 1rem 3rem;
}

.joke-text {
  color: #353535;
  font-family: "Futura";
  font-size: 20px;
}

.joke-button {
  border: none;
  border-radius: 50px;
  background: #fafafa;
  box-shadow: 5px 5px 10px #e1e1e1, -5px -5px 10px #ffffff;
  color: #00b2f5;
  font-family: "Futura";
  font-size: 15px;
  padding: 1.1rem;
  cursor: pointer;
}

.joke-button:hover {
  color: #abe8ff;
}

.joke-button:active {
  outline: none;
  color: #00b2f5;
  border-radius: 50px;
  background: #fafafa;
  box-shadow: inset 5px 5px 10px #e1e1e1, inset -5px -5px 10px #ffffff;
}

.joke-button:focus {
  outline: 0;
}
.footer {
  font-family: "Futura";
  color: #353535;
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
